:host {
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.page-eyebrow {
  color: var(--rdapp-bg-color-accent);
  letter-spacing: 0.05em;
}

.page-title {
  color: var(--rdapp-bg-color-primary);
  font-size: 2rem;
}

