@if (isVisible | async) {
  <label class="d-flex flex-row mb-0 w-100 align-items-center" style="cursor: pointer;">
    
    <input type="checkbox" 
           [checked]="isSelected" 
           (change)="onCheckboxChange()" 
           class="my-1 align-self-stretch filter-checkbox" />
           
    <span class="w-100 ps-2 break-facet">
      <span class="float-end badge bg-secondary rounded-pill mt-1 ms-1">{{filterValue.count | dsShortNumber}}</span>
      {{ 'search.filters.' + filterConfig.name + '.' + filterValue.value | translate: {default: filterValue.value} }}
    </span>
    
  </label>
}